* {
  box-sizing: border-box;
}

body {
    background: #ffffff;
    overflow:auto;
    width:auto;
    border:solid gray;
    border-width:.1em .1em .1em .8em;
    padding:.2em .6em;
}

.line-numbers {
    display: inline-table;
    color: grey;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.code {
    margin-left: 10px;
}

.code-container {
    display: flex;
}

.label {
    margin-left: 50px;
}

.prefix-hidden {
    display: none;
}

#prefix-length {
    font-size: 15px;
}

.completion {
  position: relative;
  display: inline-block;
  font-weight: bold;
}

.completion.good {
  color: #008800
}

.completion.middle {
  color: #999900
}

.completion.bad {
  color: #BB0066
}

.completion.absent {
  color: #70AAFF
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
}

.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  color: black;
  font-weight: normal;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}